@charset 'utf-8';

/*重设浏览器默认样式,提供原子样式*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #333;
}


/*a:focus,
*:focus {
  outline: none;
  /* 去除 ie6 & ie7 焦点点状线
}*/


/*a:hover {
  text-decoration: underline;
}*/

a img {
  border: 0;
  /*去除a中img边框样式不一致*/
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

i,
em {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

input,
textarea {
  resize: none;
  outline: none;
  /*固定文本输出框的宽高和焦点样式*/
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  /*表格单边框*/
}

th,
td {
  padding: 0;
  border: 1px solid #ccc;
}

th {
  font-weight: normal;
  vertical-align: left;
  /*统一单元格样式*/
}

del {
  text-decoration: line-through;
  /* 一致的 del 样式 */
}


/*原子样式*/

.overhide {
  overflow: hidden;
  /*非常规清浮动*/
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fl,
.fr {
  _display: inline;
  /* 减少浮动带来的 bug */
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.el {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*省略号*/
}

.hide {
  display: none;
}

.block {
  display: block;
}

.aaadadewdwq {
  word-wrap: break-word;
}
